*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;900&display=swap');

body{
    
   
    background-image: linear-gradient( 120deg, #f6d365 , #fda085);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

    
}

h1, form{

      min-height: 20vh;
     display: flex;
    justify-content: center;
    align-items: center;
    
    
}
h1{
    
    margin-top: 40px;
    font-size: 40px;
    font-weight: 700px;
    color:white;
    font-weight: 900px;
}
hr{
    margin:  auto;
    padding-top: 30px;
    
    width: 250px;
    
    border-radius:  4px;
 
}
 form input , form button{
    padding: 0.5rem;
   
   font-size: 1.3rem;
   cursor: pointer;
    
   outline: none;
   border: none;
   
}
 form button{
   color: #fda085;
   
    font-weight: 600;
    transition: all 0.4s  ease;
}
button:hover{
    background-color:#fda085;
    color: white;
}
footer{
    color: white;
    text-align: center;
    font-size: 18px;
}
footer a {
    text-decoration: none;
    color:white;
    font-weight: 300;
   

}

